.booking-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -160px;
}

/*Navigation */
.booking-nav{
    display: flex;
    gap: 70px;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
}

.nav-item{
    display: flex;
    align-content: center;
    gap: 8px;
    padding-bottom: 8px;
    color: #6b7280;
    cursor: pointer;
}

.icon{
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}


/* Trip Type */

.trip-types{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

}

.trip-type{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.trip-type input[type='radio']{
    width: 16px;
    height: 16px;
    accent-color: blue;
}

/* Form Layout */

.booking-form{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}
.form-group{
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 12px;
}

/* Location */

.locations {
    display: flex;
    align-items: center;
}


.location-input{
    flex: 1;
}


.location-input label{
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}

.location-input input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

.swap-button{
    width: 24px;
    height: 24px;
    border: 2px solid #e3e7eb;
    border-radius: 50%;
    background: transparent;
    margin: 0 12px;
    cursor: pointer;
}

/* Dates*/

.dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.date-input label {
    display: block;
    font-size: 12px;
    color: #6b7280;
    margin-bottom: 4px;
  }
  
  .date-value {
    font-size: 14px;
    cursor: pointer;
    
  }

  /*Passengers*/

  .passenger-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }

  .passengers label {
    display: block;
    font-size: 12px;
    color: #6b7280;
    margin-bottom: 4px;
  }

  .form-actions{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
  }

  .promo-button{
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: #6d28d9;
    font-size: 14px;
  }

  .search-button{
    background: #6d28d9;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 14px;
    transition: .5ms;
  }

  .search-button:hover{
    background: #5b21b6
  }